<main class="form-signin">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Registro de usuario</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Ej. Juan Peréz" required />
            <label for="floatingInput">Fullname</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required />
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username"placeholder="Usermane" required />
            <label for="floatingInput">Usermane</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
            <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Registar</button>
    </form>
</main>